/* STYLES
 * 
 */

/* STYLES
 * 
 */

body { font-family: 'radley', serif; }

p, li { line-height: 140%; font-size: 17px; }

/* Header and Navigation styles */

header {
  border-bottom: 1px solid #888;
  margin-bottom: 10px;
  height: 80px;
}

header h1 {
  display: inline-block;
  float: left;
  clear: both;
  font-size: 30px;
  margin-top: 2%;
}

header h1 a { color: #333; }
header h1 a:hover { text-decoration: none; color: #004f77; }

nav ul {
  font-family: Helvetica, Arial, sans-serif;
  list-style: none;
  display: inline-block;
  border-left: 1px dotted #333;
  margin: 0 40px 10px 0;
}

nav ul li {
  font-size: 13px;
  margin: 0 0 5px 15px;
  text-transform: lowercase;
}

nav {
  float: right;
  margin-top: 20px;
}

nav a {
  color: #111;
}

/* Front Page Styles */
.index-left {
  text-align: right;
}

.copylink {
  font-size: 110px;
  text-transform: uppercase;
  line-height: 85%;
}

.dark a { color: #005a88 }
.darker a { color: #003855 }
.red a { color: #CC4100 }
.green a { color: #51a351 }

.copylink a:hover {
  text-decoration: none;
  color: #333;
}

.copy-comma {
  font-size: 50px;
  line-height: 85%;
}

.copy-right {
  margin-top: 10px;
}

.social {
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding: 10px 0 10px 20px;
  margin-top: 15px;
  font-size: 17px;
  text-align: center;
}

.social a { color: #003855; }

.email-link {
  font-size: 30px;
}

/* Footer styles */
footer {
  font-size: 12px;
  border-top: 1px solid #888;
  padding: 15px 0;
}

/* Content styles */
.content {
  padding-bottom: 20px;
  padding-left: 20px;
}

.content h1 { margin-bottom: 0.9em; }
.content p { margin: 19px 0; }

/* Sidebar styles */
.sidebar p {
  font-size: 15px;
}

.sidebar h3 {
  font-size: 22px;
  line-height: 140%;
}

/* Posts listing style */
.posts {
  font-size: 18px;
  line-height: 140%;
}

.posts li {
  list-style: none;
  line-height: 140%;
  margin-bottom: 10px;
}

.posts li a { font-size: 25px; }

.posts li span {
  color: #999;
  display: block;
  clear: both;
  font-style: italic;
}

/* Photos styles */
.photos a img {
  padding-bottom: 20px;
}

/* Design styles */

.design {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.design h1 a { color: #333; }
.design h1 a:hover { text-decoration: none; color: #004f77; }

.design-nav {
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
}

.carousel-inner { border: 1px solid #ddd; }

.portfolio {
  list-style: none;
  margin: 0px;
}

.portfolio li {
  display: inline-block;
  width: 200px;
  margin: 15px 20px 15px 0;
}

.portfolio img { border: 1px solid #ddd; }

.portfolio li span {
  font-size: 13px;
  display: block;
}

.codelist {
  border-bottom: 1px solid #ddd;
}
