<h3><em>Eli James is a nom-de-plume</em></h3>
<p>My real name's Cedric Chin. I started using Eli as an alias because I began doing digital publishing work at a <em>really</em> young age. Using a nom-de-plume allowed my ideas to be evaluated independent of my background. I thought this was really cool.</p>

<p>Eventually, though, the name stuck when EJ became increasingly associated with my body of work.</p>

<p>Feel free to call me with whichever name you please - I respond comfortably to both.</p>
{% comment %}<img src='/img/ejames.jpg' alt='An old avatar picture' class='img-polaroid' style='width: 150px; margin: 20px auto;'/>{% endcomment %}
