<h3><em>Eli James is a nom-de-plume</em></h3>
<p>My real name's Cedric Chin. I used Eli as an alias because I started doing digital publishing work at a <em>really</em> young age. Using a nom-de-plume enabled my ideas to be evaluated independent of my background. This I found to be pretty cool.</p>

<p>Eventually, though, the name stuck when EJ became increasingly associated with my body of work.</p>

<p>Feel free to call me by whichever name you please - I respond to both.</p>
{% comment %}<img src='/img/ejames.jpg' alt='An old avatar picture' class='img-polaroid' style='width: 150px; margin: 20px auto;'/>{% endcomment %}
