<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}Eli James &middot; elijames.org</title>
    <meta content='Eli James' name='author' />
    <meta content='Personal site of Eli James' name='description' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='/css/bootstrap.min.css' type='text/css' rel='stylesheet' />
    <link href='/css/style.css' type='text/css' rel='stylesheet' />
    <script type="text/javascript" src="//use.typekit.net/nlh5hzh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div class='container'>
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>
