<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}Eli James &middot; Chronic Problem Solver</title>
    <meta content='Eli James' name='author' />
    <meta content='Personal site of Eli James' name='description' />

    <link href='/css/bootstrap.min.css' type='text/css' rel='stylesheet' />
    <link href='/css/style.css' type='text/css' rel='stylesheet' />
    <link href='http://fonts.googleapis.com/css?family=Radley' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='container'>
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>
